<nav 
    class="h-full flex flex-col flex-grow nav-bar"
>
    <div class="flex flex-col">
        <div class="img-logo">
            <img 
                class="image-format"
                [src]="imageLogoSrc"
            >
        </div>
        <ul class="mt-10 flex flex-col items-end justify-end">
            <div 
                (mouseenter)="orderHover = true" 
                class="w-full flex content-menu items-center"
                [ngClass]="{'selected-menu': orderSelected, 
                            'justify-end': showText, 'justify-center': !showText 
                            }"
            >   
                <span 
                    class="ml-2 text-menu nav-text-pl" 
                    *ngIf="showText" 
                    (click)="getHomeDocSpider()"
                >
                    Painel
                </span>
            </div>
            <div 
                class="w-full flex justify-end content-menu items-center"
                [ngClass]="{'selected-menu': orderSelected, 'justify-end': showText, 
                            'justify-center': !showText 
                            }"
            >
                <span 
                    class="ml-2 text-menu nav-text-pl" 
                    *ngIf="showText" 
                    (click)="getInformationPdf()"
                >
                    Projetos
                </span>
            </div>
            <div 
                class="w-full flex justify-end content-menu items-center"
                [ngClass]="{'selected-menu': orderSelected, 'justify-end': showText, 
                            'justify-center': !showText 
                            }"
            >
                <span 
                    class="ml-2 text-menu nav-text-pl" 
                    *ngIf="showText" 
                    (click)="getAboutDocSpider()"
                >
                    Leads
                </span> 
            </div>
            <div 
                class="w-full flex justify-end content-menu items-center"
                [ngClass]="{'selected-menu': orderSelected, 'justify-end': showText, 
                            'justify-center': !showText 
                            }"
            >
                <span 
                    class="ml-2 text-menu nav-text-pl" 
                    *ngIf="showText" 
                    (click)="getInformationPdf()"
                >
                    Campanhas
                </span>
            </div>
            <div 
                class="w-full flex justify-end content-menu items-center"
                [ngClass]="{'selected-menu': orderSelected, 'justify-end': showText, 
                            'justify-center': !showText 
                            }"
            >
                <div class="ml-2 text-menu nav-text-pl notify">
                    <span class="notify-name">
                        Notificação
                    </span>
                    <span class="notify-number">
                        1
                    </span>
                </div>
            </div>
        </ul>
        <div class="img-perfil">
            <img 
                class="image-format"
                [src]="imagePerfilSrc"
            >
        </div>
    </div>
    
</nav>
