.bg-nav-right {
    background-color: #fff;
    height: 45rem;
    width: 20rem;
}

.container-midlle-main-head {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-top: 4rem;
    width: 80%;
}
